:root {
    --primary-light: rgba(238, 245, 255, 0.4);
    --primary-dark: rgba(38, 80, 115, 1);
}

.App {
    border: 6px solid var(--primary-dark);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary-light);
    margin: 10px auto;
}
.App .container {
    width: 80%;
}

.App li {
    list-style: none;
}
.App ul {
    padding-left: 0px;
}

.Footer {
    text-align: center;
    font-size: 14px;
}

.degrees {
    position: relative;
    bottom: 50px;
    left: 6px;
    font-weight: bolder;
}

.degrees:hover {
    text-decoration: underline;
}

.temperature {
    font-size: 50px;
    position: relative;
    bottom: 30px;
    font-weight: bolder;
}

.TemperatureResponsive {
    position: relative;
    top: 20px;
    left: 10px;
}
canvas {
    position: relative;
    left: 20px;
}

@media (max-width: 900px) {
    .Footer {
        font-size: 10px;
    }
    .SearchResponsive {
        margin-bottom: 10px;
    }

    input {
        text-align: center;
    }
    .TextResponsive {
        text-align: center;
        padding: 0px;
    }

    .App ul {
        padding-left: 0px;
        margin-left: 0px;
    }

    .degrees {
        position: relative;
        bottom: 50px;
    }

    .TemperatureResponsive {
        position: relative;
        top: 20px;
    }

    canvas {
        position: relative;
        left: 0px;
    }
}
