:root {
    --primary-light: rgba(238, 245, 255, 0.4);
    --primary-dark: rgba(38, 80, 115, 1);
}

.Forecast {
    text-align: center;
}

.Forecast:hover {
    background-color: white;
    border-radius: 10px;
}

.Forecast-day {
    font-weight: bolder;
    font-size: 20px;
    color: var(--primary-dark);
    padding-top: 10px;
}

.Forecast-icon {
    position: relative;
    bottom: 10px;
}

.Forecast-temperatures {
    position: relative;
    bottom: 20px;
    font-weight: 700;
}

.Forecast-temperatures-max {
    padding: 10px;
    color: var(--primary-dark);
    
}

.Forecast-temperatures-min {
    padding-left: 6px;
    color: rgba(0, 0, 0, 0.4);
}
